.iconify{
    font-size: 3em;
    margin: .25em;
}
.blog:hover{
    transform: scale(1.005);
}
#hero{
    height: 75vh;
    background: url('./pont-des-arts-paris.jpg'), rgba(0, 0, 0, 0.349) no-repeat;
    background-blend-mode: overlay;
    background-size: 100% 100%;
    background-position: center center;
    color: #fff;
}
#hero div{
    width: 70%;
    margin: auto;
}
#hero div h1{
    font-size: 60px;
    font-weight: normal;
}
#hero div h2{
    font-size: 30px;
    font-weight: normal;
}
.about{
    font-size: 24px;
}
#submit{
    width: 200px;
    display: block;
    margin: auto;
}
.blog-text{
    font-size: 1.5rem;
}
.blog-image{
    content: '';
    width: 100%;
    height: 40em;
    /* background-image: url('https://source.unsplash.com/DPgBDhSSIRI'); */
}

.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }
    .gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
    .gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
    
    @media (max-width: 450px) {
    .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    }
    }
    
    @media (max-width: 400px) {
    .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    }
    }
